<div class="col col-sm-6 col-md-6" style="margin: 0 auto !important;">
    <p class="h4 mb-4 mt-5 text-center">Register</p>
    <br>
    <form class="text-center border border-light p-5" [formGroup]="registrationForm" (ngSubmit)='register()'>
      <select formControlName='role' class="browser-default custom-select mb-4">
        <option selected>Select Role</option>
        <option value="0">User</option>
        <option value="1">Admin</option>
      </select>
        <input type="text" id="name" formControlName="name" class="form-control mb-4" placeholder="Name">
        <input type="email" id="emai;" formControlName="email" class="form-control mb-4" placeholder="E-mail">
        <input type="password" id="password" formControlName="password" class="form-control mb-4" placeholder="Password">
        
        <div class="d-flex justify-content-around">
        </div>
        <button mdbBtn color="info" block="true" class="my-4" type="submit"
        [disabled]="!registrationForm.valid">Register</button>
      </form>
  </div>
  <br>
  <br>
  <br>
